/* CSS Code */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: antiquewhite;
}
.navbar{
    background-color: rgb(78, 103, 247);
    padding: 20px;
}
.navbar > ul{
    display: flex;
    justify-content: space-around;
    width: 40%;
    list-style: none;
}
.navbar > ul > a{
    color: white;
    font-size: 20px;
}
.navbar > ul > a:hover{
    color: aqua;
}