*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    position: relative;
    border: 2px solid black;
    padding: 1rem;
    margin: 4rem;
    width: 90%;
    height: 180px;
    background-color: rgb(247, 196, 238);
}
img{
    float: right; 
}
.content{
    position: absolute;
    width: 78%;
}
.content > p{
    padding-top: 1.5rem;
}